body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #007BFF;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.form-container, .list-container {
    flex: 1 1 300px;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
}

.input-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.input-group div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    width: 100%;
}

button {
    background: #007BFF;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s, transform 0.3s;
}

li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

.parcelas {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

.parcelas span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.receber-button {
    padding: 5px 10px;
    font-size: 0.8em;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.receber-button:hover {
    background: #218838;
}

.paga {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.total {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.remove-button {
    padding: 5px 10px;
    font-size: 0.8em;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.remove-button:hover {
    background: #c82333;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
