body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 800px;
    text-align: center;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
}

h1 {
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-container {
    flex-basis: 48%;
}

.list-container {
    flex-basis: 48%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

input, button {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

input[type="date"] {
    padding: 6px;
}

button {
    background: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.parcelas {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

.parcelas span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.receber-button {
    padding: 2px 5px;
    font-size: 0.8em;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

.receber-button:hover {
    background: #218838;
}

.total {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.pago {
    background-color: #28a745;
}

.recebido {
    color: green;
}
